.App {
  text-align: center;
}

header {
  margin: 15px 0;
}

header a {
  margin: 15px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cat-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%
}

.cat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px
}

.cat-item a {
  margin: 5px
}

.cat-item-details {
  font-size: 1.4rem;
}

.cat-item-delete, .cat-item-update {
  font-size: 0.8rem;
}

.create, .update {
  width: 450px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
  font-size: 1.2rem;
}

form input {
  text-align: center;
  margin: 3px;
  margin-bottom: 5px;
}

form button {
  margin: 5px;
}